@model  webUygulamasi.Models.Siniflar.Personel
@{
    ViewBag.Title = "UpdataPersonel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />

<h2>Personel Bilgisi Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("BringStaff", "Personel", FormMethod.Post))
{


    <div class="form-group">


        @Html.LabelFor(x => x.PersonelAD, "Aracın Adını Giriniz")
        @Html.TextBoxFor(x => x.PersonelAD, new { @class = "form-control" })
        @Html.HiddenFor(x => x.PersonelID)
        <br />

        @Html.LabelFor(x => x.PersonelSOYAD, "Aracın Markasını  Giriniz")
        @Html.TextBoxFor(x => x.PersonelSOYAD, new { @class = "form-control" })
        @Html.HiddenFor(x => x.PersonelID)

        @Html.LabelFor(x => x.PersonelTELEFON, "Aracın Plakasını Giriniz")
        @Html.TextBoxFor(x => x.PersonelTELEFON, new { @class = "form-control" })
        @Html.HiddenFor(x => x.PersonelID)

        @Html.LabelFor(x => x.PersonelADRES, "Aracın Teslim Tarihini Giriniz")
        @Html.TextBoxFor(x => x.PersonelADRES, new { @class = "form-control" })
        @Html.HiddenFor(x => x.PersonelID)

        @Html.LabelFor(x => x.PersonelGİRİSTARİHİ, "Aracın Yıkama Ücretini Giriniz")
        @Html.TextBoxFor(x => x.PersonelGİRİSTARİHİ, new { @class = "form-control" })
        @Html.HiddenFor(x => x.PersonelID)

        @Html.LabelFor(x => x.PersonelUCRET, "Aracın Yıkama Ücretini Giriniz")
        @Html.TextBoxFor(x => x.PersonelUCRET, new { @class = "form-control" })
        @Html.HiddenFor(x => x.PersonelID)


    </div>



    <button class="btn btn-default" style="background-color:yellowgreen" id="Btn1">Personel Bilgilerini Güncelle </button>
    <script>
        $('#Btn1').click(function () {
            alert("Personel Bilgisi Başarıyla Eklenmiştir")
        });


    </script>
}

